@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Fredoka", ui-sans-serif, system-ui, sans-serif;
  
  --color-pop-yellow: #FFD93D;
  --color-pop-pink: #FF8AAE;
  --color-pop-purple: #927DFF;
  --color-pop-green: #6BCB77;
  --color-pop-blue: #4D96FF;
  --color-ink: #2B2B2B;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#FFFBEB] text-ink font-sans antialiased overflow-x-hidden;
}

/* 按钮点击弹性效果 */
.btn-bounce:active {
  @apply scale-90;
}

::selection {
  @apply bg-pop-purple text-white;
}
